* {
    margin: 0;
    padding: 0;
}

.header {
    display:flex;
    flex: row;
    background-color: #222222;
    gap:80%;
    padding-left:10%;
    padding-right:15%;
    padding-top:1%;
    padding-bottom: 1%;
}

.Logo {
    display:flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap:30px;
}
.breadcrumbs {
    display:flex;
    flex-direction: row;
    gap:20px;
    justify-content: right;
    align-items: center;
}
.img {
    width:100%;
}

.menu-container {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    display: none;
    position: absolute;
    top: 182%;
    left: 0px;
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:#FFFFFF;
    width: 232px;
}
.dropdown-menu li {
    padding: 8px 16px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}
.burger:hover + .dropdown-menu,
.dropdown-menu:hover {
    display: block;
}
.category {
    font-family: "Lato",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color:#F16D7F;
}
.submenu {
    font-family: Lato;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color: #6F6E6E;
padding-left:5%;
}
.busket {
    display:block;
    position:relative;
}
.busket::after{
    background-color: #F16D7F;
    content:"5";
    border-radius: 80%;
    font-family: "Lato",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFFFFF;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:6px;
    padding-right:6px;
    display:block;
    position:absolute;
    bottom:60%;
    left:80%;
}




.main {
    background-color: #F1E4E6;
    display:flex;
    flex-direction: row;
    align-items: center;
    height:600px;
}

.men_img {
    height:600px;
}

.text_block {
    display:flex;
    flex-direction: row;
    align-items: center;
}
.line {
    width: 12px;
    height: 92px;
    top: 364.9px;
    left: 864px;
    background-color:#F16D7F;
    margin-right: 20px;
}

.text {
    font-family: "Lato", sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;  
    color:linear-gradient(0deg, #222222, #222222),    
}
.second {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color:linear-gradient(0deg, #222222, #222222),
}
.fashion {
    font-family: "Lato", sans-serif;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
}



.menu {
    display:grid;
    grid-template-rows: 200px 150px;
    grid-template-columns: repeat(3, 1fr);
    gap:5%;
    margin-right:10%;
    margin-left:10%;
    margin-top:5%;
    margin-bottom:5%;
}
.women, .men1, .kids, .accessories {
    background-size: cover; 
    background-repeat: no-repeat; 
}
.women{
    background-image: url(./img/Group\ 36.png);
}
.men1{
    background-image: url(./img/Group\ 37.jpg);
}
.kids {
    background-image: url(./img/Group\ 38.jpg);
}
.accesories {
    grid-column: 1/4;
    background-image: url(./img/Group\ 39.jpg);
    background-size: 103%;
}
.block {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sell {
    font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.for {
font-family: "Lato",sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color:#F16D7F;
}




.catalog {
    margin-left:10%;
    margin-right:10%;
}
.title1 {
    font-family: "Lato",sans-serif;
font-size: 30px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #222222;
text-align: center;
padding-bottom: 2%;
}
.title2 {
    font-family: "Lato",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color:#9F9F9F;
text-align: center;
padding-bottom: 2%;
}
.products {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:3%;
}
.card {
    display:flex;
    flex-direction: column;
    background-color: #F8F8F8;
}
.picture1 {
    width:100%;
    padding-bottom: 2%;
}
.name {
    font-family: "Lato",sans-serif;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color:#000000;
padding-bottom: 3%;
padding-left:3%;
}
.description {
    font-family: "Lato",sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
color:#5D5D5D;
padding-bottom: 3%;
padding-left:3%;
padding-right: 3%;
}
.price {
    font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color:#F16D7F;
padding-bottom: 3%;
padding-left:3%;
}
.button {
    display:flex;
    flex-direction: row;
    margin-top:10%;
    margin-bottom:10%;
    align-items: center;
    justify-content: center;
}
.text_button {
    font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #F26376;
background-color: #FFFFFF;
padding:2%;
border: 1px solid #FF6A6A;
}
.text_button:hover {
    cursor: pointer;
    background-color: #e8e1e1;
}


.footer {
    width:100%;
    background-color: #222224;
}

.information {
    height:250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5%;
    padding-left:10%;
    padding-right:10%;
}
.block_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5%;
}
.minititle {
    font-family: "Lato", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#FBFBFB;
}
.descript {
    font-family: "Lato", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color:#FBFBFB;
}

.feedback {
    padding-left: 10%;
    gap:10%;
    display: flex;
    flex-direction: row;
    background-image: url(./img/photo\ subscribe.svg);
    height: 300px;
    background-size: 150%;
    margin-left:-3px;
    
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:35%;
}
.quote {
    font-family: "Lato", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: #222224;
}
.italic {
    font-style: italic;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
}
.for_our {
    font-family: "Lato",sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #222224;
}

.subscribe{
font-family: "Lato",sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
color: #222224;
}
.email {
    background-color: #E1E1E1;
    width:260px;
    height:48px;
    border-radius: 0.5;
    border-color: #E1E1E1;
    border-top-left-radius: 20px; 
    border-bottom-left-radius: 20px; 
    border: 1px solid #ccc; 

}

.send {
    background-image: url(./img/Rounded\ Rectangle\ 5\ copy.svg);
  color: #fff;
  padding-bottom:20px;
  padding-top:20px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Lato", sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
background-position: center; 
width:100px;
}
.knopka {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.send:hover {
    color:#5D5D5D;
}

label {
    cursor: pointer;
}


.bottom_line {
    height:30%;
    display: flex;
    flex-direction: row;
    gap:50%;
    padding-top:2%;
    padding-left:10%;
    padding-bottom:2%;
    align-items: center;
}
.info{
    font-family: "Lato",sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #FBFBFB;
}
.icon {
    background-color: #E1E1E1;
    width:20px;
    height:20px;
    padding:10px;
}
.icon:hover {
    background-color:#F16D7F;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        gap:60%;
        padding-left:2%;
        padding-right:0%;
        padding-top:1%;
        padding-bottom: 1%;
        width:98%;
    }
    .img{
        width:130%;
    }
    .breadcrumbs {
        gap:40px;
    }
    .men_img {
        height:500px;
        margin:-5%;
    }
    .main {
        height:500px;
        width:100%;
    }
    .text_block {
       margin:-10%;
    }
    .text {
        font-size: 44px; 
        line-height: 40px;
    }
    .second {
        font-size: 24px;
        line-height: 28.8px;
    }
    .fashion {
        font-size: 24px;
        line-height: 28.8px;
    }

    .menu {
        display:grid;
        grid-template-rows: 200px 150px;
        grid-template-columns: repeat(3, 1fr);
        gap:2%;
        margin-right:2%;
        margin-left:2%;
        margin-top:10%;
        margin-bottom:15%;
    }
    .accesories{
        margin-top:1%;
    }

    .catalog {
        margin-left:2%;
        margin-right:2%;
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);       
    }

    .button {
        margin-top:20%;
    }

    .text_button { 
    text-align: left;  
    padding-left:7%;
    padding-top:3%;
    padding-right:7%;
    padding-bottom:3%;
    border: 1px solid #FF6A6A;
    }
    .information {
        display:flex;
        flex-direction: column;
        padding-top:10%;
        padding-bottom:10%;
        gap:40px;
        align-items: center;
        justify-content: center;
        height:auto;
    }
    .block_info {
        width:45%;
        gap:20px;
    }
    .feedback {
        display:flex;
        flex-direction: column;
        height:auto;
        align-items: center;
        justify-content: center;
        padding-top:10%;
        padding-bottom:60px;
        gap:30px;
        background-size: 250%;
    }
    .bottom_line {
        height: auto;
        gap:40%;
    }
}


@media only screen and (min-width: 320px) and (max-width: 767px){
    .header {
        display:inline-block;
        position: relative;
        padding-left:2%;
        padding-right:0%;
        padding-top:1%;
        padding-bottom: 15%;
        width:98%;
        margin-bottom:-5px;
    }
    .img{
        width:110%;
    }
    .burger {
        display:block;
        position:absolute;
        top:20%;
        right:70%;
    }
    .burger1 {
        width:150%;

    }
    .personal, .busket {
        display:none;
    }

   
   .logo {
    position: absolute;
    top:10%;
    left:5%;
   }

   .search {
    position: absolute;
    top:20%;
    left:25%;
   }
    .men {
        display:none;
    }
    .main {
        display:block;
        position: relative;
        width:100%;
        max-height: 400px;
        margin-bottom:10%;
    }
    .text_block1 {
        position:absolute;
        top:40%;
        left:15%;
    }
    .text {
        font-size: 38px; 
        line-height: 40px;
    }
    .second {
        font-size: 20px;
        line-height: 24px;
    }
    .fashion {
        font-size: 20px;
        line-height: 24px;
    }

    .menu {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .block {
        display: inline-block;
        position: relative;
    }
    .women, .men1, .kids {
        width:100%;
        padding-bottom:70%;
        margin-bottom:5%;
    }
    .accesories {
        width:100%;
        padding-bottom:30%;
        margin-bottom:5%;
        background-size: 190%;
    }
    .sell {
        position: absolute;
        font-size: 14px;
        top: 45%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    .for {
        position: absolute;
        font-size: 20px;
        top: 55%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    .for1 {
        top: 65%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    
    .products {
        display:flex;
        flex-direction: column;
    }
    .card {
        margin-bottom:5%;
    }

    .phone{
        position:relative;
        display: inline-block;
    }
    .filter {
        position: absolute;
        background: #3A3838DB;
        opacity: 0.86;
        width:100%;
        height:97%;
        top: 0px;
        left:0px;
    }
    .addTo {
        position: absolute;
        background-image: url(./img/Add\ to\ cart.png);
        width:45%;
        height: 12%;
        top: 50%;
        left:30%;
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .title2 {
        margin-bottom:20%;
    }
    .information {
        display:flex;
        flex-direction: column;
        padding-top:10%;
        padding-bottom:10%;
        gap:40px;
        align-items: center;
        justify-content: center;
        height:auto;
    }
    .block_info {
        display:flex;
        flex-direction: column;
        width:90%;
        gap:20px;
        align-items: center;
        justify-content: center;
    }
    .feedback {
        display:flex;
        flex-direction: column;
        height:auto;
        align-items: center;
        justify-content: center;
        padding-top:10%;
        padding-bottom:60px;
        gap:30px;
        background-size: 600%;
        padding-right:10%;
    }
    .send {
    width:100px;
    }
    .email {
        width:200px;
    }
    .for_our {
        font-size:14px;
    }
    .right {
        width:80%;
    }
    .subscribe {
        font-size: 24px;
    }
    .quote {
        font-size:19px;
    }
    .left {
        width:90%;
    }

    .bottom_line {
        display:flex;
        flex-direction:column-reverse;
        gap:15px;
        padding-top:20px;
        padding-right:10%;
    }

}